# Grafana Datasource Provisioning for Prometheus
# This file automatically configures Prometheus as a datasource in Grafana

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    version: 1
    editable: true
    jsonData:
      httpMethod: POST
      timeInterval: 15s
      queryTimeout: 60s
      # Enable exemplars for trace correlation (optional)
      # exemplarTraceIdDestinations:
      #   - name: trace_id
      #     datasourceUid: tempo_uid
